{% extends "base.html" %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col text-center"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Available Plans</h2>
  <div class="row">
    {% for plan in plans %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ plan.name }}</h5>
            <p class="card-text">{{ plan.description }}</p>
            <p class="card-text"><strong>£{{ plan.price }} / {{ plan.get_duration_display }}</strong></p>
            <a href="{% url 'subscribe' %}" class="btn btn-primary">Subscribe</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
