<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

           <!-- Products -->
        <li class="nav-item">
     
        <!-- Workout Plans Dropdown -->
        {% comment %} <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">Catalog</a>
                <a href="#" class="dropdown-item">Weight Loss</a>
                <a href="#" class="dropdown-item">Muscle Gain</a>
                <a href="#" class="dropdown-item">Maintain Muscle</a>
            </div>
        </li> {% endcomment %}

     <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#">Shop</a>
      </li>


        <!-- Community Dropdown -->
        {% comment %} <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                <a href="#" class="dropdown-item">Forum</a>
                <a href="#" class="dropdown-item">Success Stories</a>
                <a href="#" class="dropdown-item">Challenges</a>
            </div>
        </li> {% endcomment %}
       

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
            href="#">Community</a>
        </li>

        <!-- Nutrition Plans Dropdown -->
        {% comment %} <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="#" class="dropdown-item">Fat Burn</a>
                <a href="#" class="dropdown-item">Muscle Fuel</a>
                <a href="#" class="dropdown-item">Balanced Diet</a>
            </div>
        </li> {% endcomment %}

        <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#">Subscriptions</a>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black dropdown-toggle"
               href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#"? category=exercise_plan" class="dropdown-item">Exercise Plan</a>
                <a href="#"? category=nutrition_plan" class="dropdown-item">Nutrition Plan</a>
                <a href="#"? category=merchandise" class="dropdown-item">Merchandise</a>
                <a href="#"? category=workout_plans" class="dropdown-item">Workout Plans</a>
            </div>
        </li>

    </ul>
</div>